html {
    /* background: linear-gradient(130deg, #404be2 60%, #2b2b2b 40%); */
    background-color: #404be2;

    height: 100%;

    /* font-family: 'Anybody', cursive; */
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Varela Round', sans-serif;
}

body {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    
}

.main-contenedor {
    background-color: rgba(31, 31, 31, 0.95);
    color: #FFF;
    padding: 50px;
    padding-bottom: 20px;
    box-sizing: border-box;
    margin: 30px auto;
    margin-bottom: 10px;
    width: 90%;
}

a {
    text-decoration: none;
    color: #ca91ff;
}

a:hover {

    color: #abacb6;
}
.date {
    color: #a0a0a0;
}

.post-image {
    max-width: 500px;
    max-height: 350px;
    position: relative;
    border-radius: 2%;
    display: block;
    margin: auto;
    box-shadow: 2px 2px 5px #000000;
}



.post-body p{
    text-align: justify;
}

.p-calification {
    text-align: center;
    font-size: 1.3em;
    color: #abacb6;
    font-weight: bold;
}


.author-details {
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color:#44465a;
    padding: 5px;
}

.author {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    
}

.author p{
    margin: 0;
}

.etiqueta {
    color: #a0a0a0;
}

.author-details img {
    width: 50px;
    height: 50px;
    margin-right: 25px;
    object-fit: cover;
    border-radius: 3%;
}

/* Sección comentarios */
.comment-card {
    background-color: #abacb652;
    margin: 10px 0;
    padding: 5px 5px;
}
.comment-card-data {
    display: flex;
    align-items: center;

}

.comment-card-data img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    align-self: flex-start;
    border-radius: 50%;
    margin: 15px;
}


.eliminar-comentario {
    color: #e25340;
}

.p-commentario {
    text-align: right;
    margin: 0;
}

.create-comment form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-comment label {
    display: none;
}

.create-comment form button {
    max-width: 200px;
    margin-top: 20px;
}