{% extends "index.html" %}

{% block titulo %}
<title>Cambiar contraseña</title>
{% endblock titulo %}   

{% block main %}
<div class='contenedor-edicion'>
    <h2>Cambiar contraseña</h2>
    <div class='form-edicion'>
        <form action="" method='post' enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{form.as_p}} 

                
            </table>

            <div class='botones-edicion'>
                <button class='boton' type="submit">Guardar cambios</button>
                <button class='boton' type="reset">Reset</button>
                <button class='boton' ><a href={% url 'my_profile' %}>Volver</a></button>
            </div>
        </form>

    </div>
</div>

<div></div>


{% endblock main %}