{% extends "index.html" %}

{% block titulo %}
<title>Contraseña modificada</title>
{% endblock titulo %}   

{% block loginmain %}
<div class='contenedor-edicion'>
    <h3>Contraseña modificada</h3>
    <div class='form-edicion'>
        <p>La contraseña ha sido modificada exitosamente...</p>    
        
        <div class='botones-edicion'>
            <button class='boton' ><a href={% url 'my_profile' %}>Volver a mi perfil</a></button>
            <button class='boton' ><a href={% url 'home' %}>Volver inicio</a></button>
        </div>
    </div>
        
</div>

<div></div>


{% endblock loginmain %}