{% extends "index.html" %}

{% block titulo %}
<title>Registrate</title>
{% endblock titulo %}   

{% block estilos %}
    {% load static %}
    <link rel="stylesheet" href={% static "css\log-reg.css" %}>
{% endblock estilos %}


{% block main %}

<div class='log-reg-card'>
    <h3 class='log-reg-titulo'>Registrate</h3>
    <form class='log-reg-form' action="" method='post'>
        {% csrf_token %}
        <table class='log-reg-form-table'>
            {{reg_form.as_table}}
            
        </table>
        <button class='log-reg-btn' type="submit">Registrarse</button>
    </form>
    <p class='registrar-msje'>Si ya tienes cuenta, inicia sesión presionando <a href={% url 'login' %}>Aquí</a></p>
    
</div>




{% endblock main %}



