{% extends "index.html" %}

{% block titulo %}
<title>Borrar post</title>
{% endblock titulo %}   

{% block loginmain %}
<div class='contenedor-edicion'>
    <h1>Borrar comentario</h1>
    <p>¿Desea borrar el siguiente comentario?</p> 
    <p>{{comment}}</p>
    <p style='color:lightblue'>{{comment.comment}}</p>
    

    <div class='form-edicion'>
        <form action="" method='post' enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                <p style='text-align:center'>Tilda la casilla para confirmar</p>
                <input type="hidden" name="next" value="{{request.GET.next}}">
                {{confirmation.as_p}}    
            </table>

            <div class='botones-edicion'>
                <button class='boton' type="submit">Borrar</button>
                <a class='boton' href={% url 'post_list' %}>Volver</a>
                
            </div>
        </form>
    </div>
</div>

<div class='final-links'><a href={% url 'home' %}>Volver a inicio</a> - <a href={% url 'my_profile' %}>Mi perfil</a></div>


{% endblock loginmain %}