{% extends "index.html" %}

{% block titulo %}
<title>Buscar post</title>
{% endblock titulo %}   

{% block estilos %}
    {% load static %}
    <link rel="stylesheet" href={% static "css\buscador.css" %}>
{% endblock estilos %}



{% block main %}
<div class='contenedor-buscador'>
    <h3>Buscador de posts</h3>
    <img class='logo-busqueda' src={% static 'images/reviews-logo.png'%} alt="">
    
    <form class='buscador-form' action="" method='post'>
    {% csrf_token %}

    {{search_form}}
    <div class='botones'>
        <button class='boton' type='submit'>Buscar</button>
        <a class='boton' href={% url 'users_search'%}>Borrar Busqueda</a>
        <button class='boton' type='reset'>Limpiar</button>
    </div>

    </form>
    <br>

    <div class="resultados">
        {% if search %}
            {% if coincidences %}
            <p>Resultados obtenidos</p>
            <ul class='lista-resultados'>
            {% for post in coincidences %}
                {% if post.author == request.user %}
                    <li>{{post.title}} - <a class='perfil-link' href={% url 'other_user_profile' post.author %}>{{post.author}} </a> (post propio) - {{post.date | date:'d-m-y'}} - <a href={% url 'post_detail' author=post.author pk=post.pk %} >Detalles</a> </li>
                {% else %}
                    <li>{{post.title}} - <a class='perfil-link' href={% url 'other_user_profile' post.author %}>{{post.author}}</a> - {{post.date}} - <a href={% url 'post_detail' author=post.author pk=post.pk %} >Detalles</a></li>
                {% endif %}
                
            {% endfor %}
            </ul>

            {% else %}
                <p class='resultado'>La busqueda no tiene coincidencias...</p>
            {% endif %}

        {% else %}
            <p class='resultado'>Aun no se ha realizado una búsqueda</p>
        {% endif %}

      
    </div>
</div>


<div class='final-links'><a href={% url 'home' %}>Volver a inicio</a> - <a href={% url 'my_profile' %}>Mi perfil</a></div>
{% endblock main %}
